body {
    font-family: cursive;
    text-align: center;
    background-color: white;
}

h1 {
    margin-top: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

    .gallery img {
        width: 250px;
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
    }

        /* Hover Effect */
        .gallery img:hover {
            transform: scale(1.05);
        }

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

/* Responsive Design */
@media (max-width: 600px) {

    .gallery img {
        width: 90%;
        height: auto;
    }
}
